
/*#addHorseForm {*/
    /*height: 100%;*/
    /*margin: 0 auto;*/
/*}*/
/*#addHorseForm input[type=text] :first-child {*/
/*margin-top: 70px;*/


/*}*/

/*#genderBtn{*/
    /*margin: auto;*/
    /*text-align: center;*/
    /*padding-bottom: 30px;*/

/*}*/

/*#genderBtn input[type=radio]{*/

    /*margin-left: 20px;*/


/*}*/


/*#addHorseForm input[type=text]  {;*/
    /*margin: 0 auto;*/
    /*width: 75%;*/
    /*height: 15%;*/
    /*border: 1px solid black;*/
    /*box-shadow:2px 2px 5px 2px #e3e3e3 ;*/
    /*border-radius:15px 15px 15px 15px;*/
    /*padding: 1em;*/
     /*display: block;*/
    /*text-align: center;*/

 /*}*/
/*#sex-buttons {*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*height: 25%;*/
    /*width: 100%;*/
    /*margin-top: 47px;*/


/*}*/


/*#sex-buttons .sex {*/
    /*box-shadow:2px 4px 5px 2px #e3e3e3 ;*/
    /*width: 15%;*/
    /*height: 15%;*/
    /*background-color: #4CAF50; !* Green *!*/
    /*border: 0.7px solid green;*/
    /*color: white;*/
    /*padding: 0.5em 0.2em 0.5em 0.2em;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*font-size: 2.5em;*/
    /*cursor: pointer;*/
    /*float: left;*/
    /*margin: 35px 55px 45px 95px;*/
   /*border-radius: 55px 55px 55px 55px;*/

/*}*/
/*.sex:first-child {*/
    /*border-radius-topleft: 10px;*/
/*}*/

/*#sex-buttons .sex:not(:last-child) {*/
    /*border-right: none; !* Prevent double borders *!*/
/*}*/
/*#sex-buttons .sex:hover {*/
    /*background-color: #3e8e41;*/
/*}*/


/*!* hästens ålder namn inrikting och placeholder *!*/

* { box-sizing:border-box; }

.containerForm 		{
    font-family:'Roboto';
    width:600px;
    margin:30px auto 0;
    display:block;
    background:#FFF;
    padding:10px 50px 50px;
}


/* form starting stylings ------------------------------- */
.group 			  {
    position:relative;
    margin-bottom:45px;
}
input 				{

    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
.group label 				 {

    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
