.oneToFive {
    margin-top: 45px;

}

.oneToFive p {
    width: 15%;
    margin-left: 2%;
    display: inline-block;
    text-align: center;
    font-size: 2em;

}

.oneToFive input[type="radio"] {
    margin:  11px;
    border: 0px;
    height: 2em;
    width: 15%;
    display: inline-block;
}

legend {
    text-align: center;
}
