<div class="bottomNavBar">

    <div class="navImgContainer">
   <img class="navIcon statsIcon" id="statsIcon" src="../images/lib/navicons/statsIcon.png">
  <img class="navIcon showHorses" id="horsesIcon" src="../images/lib/navicons/horsesIcon.png">
 <img class="navIcon userIcon" id="settingsIcon" src="../images/lib/navicons/userIcon.png">
<img class="navIcon calIcon" id="calIcon" src="../images/lib/navicons/calIcon.png">

    </div>


</div>