
<p> Välj Bild :</p>
<!--<div class="iconSelect">-->


        <!--<img class="iconImg img-circle" src="/images/icons/horse1.png"> </img>-->
        <!--<img class="iconImg img-circle" src="/images/icons/horse2.png"> </img>-->
        <!--<img class="iconImg img-circle" src="/images/icons/horse3.png"> </img>-->
        <!--<img class="iconImg  img-circle" src="/images/icons/horse4.png"> </img>-->
        <!--<img class="iconImg img-circle" src="/images/icons/horse5.png"> </img>-->
        <!--<img class="iconImg img-circle" src="/images/icons/horse6.png"> </img>-->
        <!--<img class="iconImg img-circle" src="/images/icons/horse6.png"> </img>-->
    <!--<img class="iconImg img-circle" src="/images/icons/horse6.png"> </img>-->


<!--</div>-->

<!--<div class="frame" id="frame">-->
    <!--<ul class="slidee">-->
        <!--<li>  <img class="iconImg img-circle" src="/images/icons/horse1.png"> </img> </li>-->
        <!--<li> <img class="iconImg img-circle" src="/images/icons/horse2.png"> </img> </li>-->
        <!--<li> <img class="iconImg img-circle" src="/images/icons/horse3.png"> </li>-->
    <!--</ul>-->
<!--</div>-->
