

    <head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>PT</title>

<link rel="stylesheet" type="text/css" href="stylesheets/addHorseForm.css">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/rating.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/header.css">


        <script src="/jquery/jquery.js"></script>
        <script src="javascripts\addHorseForm.js"></script>





    </head>