<div id="header">

    <img class="headerImg" alt="Header Image" href="png\header.png">
    <div class="nav">
    <ul>
        <li>  <a href="/">Frontpage </a></li>
        <li>   <a href="/addHorse">Add HorsePage </a></li>
        <li>    <a href="/addTraning">Add Traning </a></li>
        <li>    <a href="/savePage.hbs"> savePage </a></li>

    </ul>
    </div>


</div>


