<h1>{{title}}</h1>





    <div id="addHorseForm">
        <form action="/addHorse" method="post">

            <div id="sex-buttons">

                <button type="button" class="sex" value="mare" ><label> Sto </label>
                </button>
                <button type="button" class="sex" value="gelding"  ><label> Val</label>
                </button>
                <button type="button"  class="sex" value="stallion"  ><label> Hig </label>
                </button><br>

            </div>

            <input type="text" name="name" placeholder="Hästens Namn"><br>



            <input type="text" name="age" placeholder="Hästens Ålder"><br>

            <input type="text" name="type" placeholder="Hästens Inriktning"><br>


            <input type="text" class ="addHorseInputText" name="criteria1" placeholder="Bedömingspunkt 1"><br>
            <input type="text" class ="addHorseInputText" name="criteria2" placeholder="Bedömingspunkt 2"><br>
            <input type="text" class ="addHorseInputText" name="criteria3" placeholder="Bedömingspunkt 3"><br>
            <input type="text" class ="addHorseInputText" name="criteria4" placeholder="Bedömingspunkt 4"><br>
            <input type="text" class ="addHorseInputText" name="criteria5" placeholder="Bedömingspunkt 5"><br>





            <input type="submit" name="addHorse" value="Lägg Till"><br>
        </form>

    </div>
