<h1>{{title}}</h1>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.2/css/lightgallery.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.2/js/lightgallery.js"></script>


<div class="containerForm">



    <form>

        <div class="group">
            <input type="text" name="name" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Hästens Namn</label>
        </div>

        <div class="group">
            <input type="text" required name="age" >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Hästens Ålder</label>
        </div>

        <div class="form-group">
            <label for="type">Hästens Inriktning</label>
            <select class="form-control" id="type">


                <option>Hoppning</option>
                <option>Dressyr</option>
                <option>Fälttävlan</option>
                <option>Distansritt</option>
                <option>Övrigt</option>
            </select>
        </div>


        <div class="form-group">
            <label for="type">Bedömningskriterie 1</label>
            <select class="form-control" id="type"  name="criteria1">


                <option>Takt</option>
                <option>Känsla</option>
                <option>Framåtbjudning</option>
                <option>Avspändhet</option>
                <option>Lösgjordhet</option>
            </select>
        </div>

        <div class="form-group">
        <label for="type">Bedömningskriterie 2</label>
        <select class="form-control" id="type"  name="criteria2">


            <option>Takt</option>
            <option selected="selected">Känsla</option>
            <option>Framåtbjudning</option>
            <option>Avspändhet</option>
            <option>Lösgjordhet</option>
        </select>
    </div>

        <div class="form-group">
            <label for="type">Bedömningskriterie 3</label>
            <select class="form-control" id="type"  name="criteria3">


                <option>Takt</option>
                <option>Känsla</option>
                <option selected="selected">Framåtbjudning</option>
                <option>Avspändhet</option>
                <option>Lösgjordhet</option>
            </select>
        </div>


        {{>chooseIcon}}


        <div class="row">
            <div class="large-12 columns">
                <ul class="small-block-grid-2 medium-block-grid-3" id="lightgallery">
                    <ul id="responsive" class="cs-hidden">
                        <li class="item-a"> <img class="iconImg img-circle" src="/images/icons/horse1.png"> </img> </li>
                        <li class="item-b"> <img class="iconImg img-circle" src="/images/icons/horse2.png"> </img> </li>
                        <li class="item-c"><img class="iconImg img-circle" src="/images/icons/horse3.png"> </img></li>
                        <li class="item-d"><img class="iconImg img-circle" src="/images/icons/horse4.png"> </img></li>
                        <li class="item-e"><img class="iconImg img-circle" src="/images/icons/horse6.png"> </img></li>
                        <li class="item-e"><img class="iconImg img-circle" src="/images/icons/horse4.png"> </img></li>
                        <li class="item-e"><img class="iconImg img-circle" src="/images/icons/horse5.png"> </img></li>
                    </ul>
                </ul>
            </div>
        </div>








        <button class="submitBtn" type="submit" formmethod="post" formaction="/addHorse">OK</button>

    </form>
    <script type="text/javascript" src="/javascripts/sly.js"></script>
    <script type="text/javascript" src="/javascripts/chooseIcon.js"></script>
</div>