<script type="text/javascript" src="/moment"></script>

<script type="text/javascript" src="/javascripts/CLNDR.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>


<script type="text/javascript" src="/javascripts/calendar.js"></script>
<script type="text/javascript" src="/templates/compiled.js"></script>


<div id="calender" class="calendar">

</div>

</div>

<div id="results" class=".result">

</div>


<link href="/stylesheets/calendar.css" rel="stylesheet" type="text/css" />


