<div id="indexHeader"> <span>header här </span>
</div>

<span>Välkomen</span>

<span>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos
    dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
    animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobi
    s est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
    repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae s
    int et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias cons
    equatur aut perferendis doloribus asperiores repellat." </span>


<div  id="regBtn"><img src="./images/lib/icons/addNew.png" class="indexRegIcon">  <p> Registera dig </p> </div>

<!--toDo preProd ändra callbackUrl-->


<div id="logginFacebook" class="loginIndex"><img src="./images/lib/icons/facebook.png" class="indexFbIcon"> <p> Logga in med facebook</p></div>









<div id="registerBox" class="hidden">
    <form id="regForm">
        <input type="text" name="name" id="name" placeholder="Ditt önskade användarnamn" data-rule-required="true" >

        <input type="text" name="email" id="email" placeholder="Din email address" data-rule-required="true" >

        <input type="text" name="password" id="password" placeholder="Ditt lösenord" data-rule-required="true" >
        <button type="submit" class="settingsBtn" > Registera och logga in</button>
    </form>




</div>





