<!DOCTYPE html>
<html lang="en">
<!--
	Bent - Bootstrap Landing Page Template by Dcrazed
	Site: https://dcrazed.com/bent-app-landing-page-template/
	Free for personal and commercial use under GNU GPL 3.0 license.
-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Track it</title>
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Owl Carousel Assets -->
    <link href="stylesheets/bent/owl.carousel.css" rel="stylesheet">
    <link href="stylesheets/bent/owl.theme.css" rel="stylesheet">


    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href="stylesheets/bent/Pe-icon-7-stroke.css">


    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/42c36aa372.js"></script>


    <!-- PrettyPhoto -->
    <link href="stylesheets/bent/prettyPhoto.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Style -->
    <link href="stylesheets/bent/style.css" rel="stylesheet">

    <link href="stylesheets/bent/animate.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="stylesheets/bent/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- PRELOADER -->
<div class="spn_hol">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<!-- END PRELOADER -->

<!-- =========================
    START ABOUT US SECTION
============================== -->
<section class="header parallax home-parallax page" id="HOME">
    <h2></h2>
    <div class="section_overlay">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/logo.png" alt="Logo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- NAV -->
                        <li><a href="#HOME">Hem</a> </li>
                        <li><a href="#ABOUT">Om Track it </a> </li>
                        <li><a href="#SCREENS">Skärmbilder</a> </li>
                        <li><a href="#DOWNLOAD">Logga in </a> </li>
                        <li><a href="#CONTACT">Kontakt oss </a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container- -->
        </nav>

        <div class="container home-container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="home_text">
                        <!-- TITLE AND DESC -->
                        <h1>Välkommen till Track it</h1>
                        <p>Webb appen som hjälper dig planera och logga din träning</p>

                        <div class="download-btn">
                            <!-- BUTTON -->
                            <a class="btn home-btn wow fadeInLeft" href="#DOWNLOAD">Logga in</a>
                            <a class="tuor btn wow fadeInRight" href="#ABOUT">Läs mer<i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                    <div class="home-iphone">
                        <img src="images/iPhone_Home.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END HEADER SECTION -->




<!-- =========================
    START ABOUT US SECTION
============================== -->


<section class="about page" id="ABOUT">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- ABOUT US SECTION TITLE-->
                <div class="section_title">
                    <h2>Om Track it</h2>
                    <p>Välkommen! Kul att du har hittat hit! Detta är track it. <br>
                        Om du du tycker om att planera din träning, se din utveckling under tid
                        och gillar enkla användarvänliga appar har du kommit rätt!
                        Track it är en webbapp, det betyder att du inte behöver ladda ner något till din mobil,
                        <a>tryck bara här</a> så spara du bokmärke i din hemskärm som direkt loggar in dig (om du använder på en enhet som är inloggad på facebook) och tar dig till appens startsidan.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="inner_about_area">
        <div class="container">
                <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- TITLE -->
                    <div class="inner_about_title">
                        <h2>Varför ska du använda track it?</h2>
                        <p>
                            Track it är det moderna sättet att bokföra din träning, glöm whiteboards, riddagböcker och liknande, har du väl börjat använda track it kommer
                            det inte känns som ett  gångbart alternativ.
                            Appen finns för att underlätta för dig i din planering av din träning, och för att hjälpa dig att se hur du utvecklas i din ridning.

                            Att se sin egna utveckling är något som kan vara förvånansvärt svårt. Man harvar på år ut och år in, men blir man egentligen bättre? <br>
                            Klart du blir! Du ser bara inte dina egna framsteg då dem är så små och successivt bygger på varandra att det inte alltid märks i den dagliga träningen.
                            Men detta är något som jag hoppas Track it ska kunna hjälpa dig med.
                            Track it bygger på att du dagligen planerar och loggar dina ridpass, du själv väljer vad du vill bedöma (din hand, din sits, hästens lösgjordhet osv) och sätter poäng mellan
                            1-10.
                            Detta ger dig inte bara möjligheten att spåra din egna framsteg. Du kan också på ett enkelt och överskådligt sätt se vad du är bra på, samt vad du behöver träna mer på.
                        </p>
                    </div>
                    <div class="inner_about_desc">

                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="pe-7s-timer"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Välj själv!</h3>
                            <p>Du kan lägga till egna beömningspunkter och "tränings typer".</p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                            <!-- ICON -->
                            <div><i class="pe-7s-target"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Tillgängligt!</h3>
                            <p>Så länge du har en uppkoppling kan du alltid komma åt din egna Track it konto!</p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                            <!-- ICON -->
                            <div><i class="pe-7s-stopwatch"></i></div>
                            <!-- HEADING DESCRIPTION -->

                            <h3>Snabb!</h3>
                            <p>Appen är minimalistisk, det är funktionalitet och användarvänlighet som står i fokus.</p>
                        </div>
                        <!-- END SINGLE DESC -->

                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="video_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeftBig">
                    &lt;!&ndash; VIDEO LEFT TITLE &ndash;&gt;
                    <div class="video_title">
                        <h2>Unik  <br> </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    </div>
                    <div class="video-button">
                        &lt;!&ndash; BUTTON &ndash;&gt;
                        <a class="btn btn-primary btn-video" href="#FEATURES" role="button">Features</a>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRightBig">
                    &lt;!&ndash; VIDEO &ndash;&gt;
                    <div class="video">
                        <iframe src="https://player.vimeo.com/video/88209254?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="560" height="315"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</section>
<!-- End About Us -->




<!-- =========================
    START TESTIMONIAL SECTION
============================== -->

<section id="TESTIMONIAL" class="testimonial parallax">
    <div class="section_overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceInDown">
                    <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
                            <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <img src="images/client_1.png" alt="">
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>Saga Polteg</h2>
                                                <h4><span>YR med placeringar upp till internationell nivå,</span> </h4>
                                                <p>“Track it är fantastisk! Den har hjälp mig organisera och strukturera upp min träning ännu mer. Att planera
                                                    och logga sin träning är något jag tror alla ryttare skulle känna på, och att göra det med Track it
                                                    är busenkelt!"</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <img src="images/client_2.png" alt="">
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>Saga Polteg</h2>
                                                <h4><span>YR med placeringar upp till internationell nivå,</span> </h4>
                                                <p>“Track it är fantastik! Den har hjälp mig organisera och struktuerar upp min träning ännu mer. Att plannera
                                                    ocg logga sin träning är något jag tror alla ryttare skulle känna på, och att göra det med Track it
                                                    är busenkelt!"</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <img src="images/client_3.png" alt="">
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                  <h2>Saga Polteg</h2>
                                                <h4><span>YR med placeringar upp till internationell nivå,</span> </h4>
                                                <p>“Track it är fantastik! Den har hjälp mig organisera och struktuerar upp min träning ännu mer. Att plannera
                                                    ocg logga sin träning är något jag tror alla ryttare skulle känna på, och att göra det med Track it
                                                    är busenkelt!"</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- END TESTIMONIAL SECTION -->



<!-- =========================
     START FEATURES
============================== -->
<!--<section id="FEATURES" class="features page">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                &lt;!&ndash; FEATURES SECTION TITLE &ndash;&gt;
                <div class="section_title wow fadeIn" data-wow-duration="1s">
                    <h2>Features</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                </div>
                &lt;!&ndash; END FEATURES SECTION TITLE &ndash;&gt;
            </div>
        </div>
    </div>

    <div class="feature_inner">
        <div class="container">
            <div class="row">
                <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                    &lt;!&ndash; FEATURE &ndash;&gt;

                    <div class="left_single_feature">
                        &lt;!&ndash; ICON &ndash;&gt;
                        <div><span class="pe-7s-like"></span></div>

                        &lt;!&ndash; FEATURE HEADING AND DESCRIPTION &ndash;&gt;
                        <h3>Creative Design<span>/</span></h3>
                        <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>

                    &lt;!&ndash; END SINGLE FEATURE &ndash;&gt;


                    &lt;!&ndash; FEATURE &ndash;&gt;
                    <div class="left_single_feature">
                        &lt;!&ndash; ICON &ndash;&gt;
                        <div><span class="pe-7s-science"></span></div>

                        &lt;!&ndash; FEATURE HEADING AND DESCRIPTION &ndash;&gt;
                        <h3>Modern Look<span>/</span></h3>
                        <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    &lt;!&ndash; END SINGLE FEATURE &ndash;&gt;


                    &lt;!&ndash; FEATURE &ndash;&gt;
                    <div class="left_single_feature">
                        &lt;!&ndash; ICON &ndash;&gt;
                        <div><span class="pe-7s-look"></span></div>

                        &lt;!&ndash; FEATURE HEADING AND DESCRIPTION &ndash;&gt;
                        <h3>Minimal Layout<span>/</span></h3>
                        <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    &lt;!&ndash; END SINGLE FEATURE &ndash;&gt;

                </div>
                <div class="col-md-4">
                    <div class="feature_iphone">
                        &lt;!&ndash; FEATURE PHONE IMAGE &ndash;&gt;
                        <img class="wow bounceIn" data-wow-duration="1s" src="images/iPhone02.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                    &lt;!&ndash; FEATURE &ndash;&gt;
                    <div class="right_single_feature">
                        &lt;!&ndash; ICON &ndash;&gt;
                        <div><span class="pe-7s-monitor"></span></div>

                        &lt;!&ndash; FEATURE HEADING AND DESCRIPTION &ndash;&gt;
                        <h3><span>/</span>Retina ready</h3>
                        <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    &lt;!&ndash; END SINGLE FEATURE &ndash;&gt;


                    &lt;!&ndash; FEATURE &ndash;&gt;
                    <div class="right_single_feature">
                        &lt;!&ndash; ICON &ndash;&gt;
                        <div><span class="pe-7s-phone"></span></div>

                        &lt;!&ndash; FEATURE HEADING AND DESCRIPTION &ndash;&gt;
                        <h3><span>/</span>Responsive Ready</h3>
                        <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    &lt;!&ndash; END SINGLE FEATURE &ndash;&gt;


                    &lt;!&ndash; FEATURE &ndash;&gt;
                    <div class="right_single_feature">
                        &lt;!&ndash; ICON &ndash;&gt;
                        <div><span class="pe-7s-gleam"></span></div>

                        &lt;!&ndash; FEATURE HEADING AND DESCRIPTION &ndash;&gt;
                        <h3><span>/</span>Clean Code</h3>
                        <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    &lt;!&ndash; END SINGLE FEATURE &ndash;&gt;
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- END FEATURES SECTION -->



<!-- =========================
     START CALL TO ACTION
============================== -->
<div class="call_to_action">
    <div class="container">
        <div class="row wow fadeInLeftBig" data-wow-duration="1s">
            <div class="col-md-9">
                <p>Vill du komma igång med Track it direkt? Tryck då bara på logga in nedan!</p>
                <div id="logginFacebook" class="loginIndex">
                    <a href="http://localhost:3000/auth/facebook" role="button"> <img src="./images/lib/icons/facebook.png" class="indexFbIcon"></a>
                    <i class="fa fa-sign-in fa" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- END CALL TO ACTION -->


<!-- =========================
     Start APPS SCREEN SECTION
============================== -->
<section class="apps_screen page" id="SCREENS">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">
                <!-- APPS SCREEN TITLE -->
                <div class="section_title">
                    <h2>Screenshots</h2>
                    <p> Nedan kan du se hur appen ser ut! Snygg va?</p>
                </div>
                <!-- END APPS SCREEN TITLE -->
            </div>
        </div>
    </div>

    <div class="screen_slider">
        <div id="demo" class="wow bounceInRight" data-wow-duration="1s">
            <div id="owl-demo" class="owl-carousel">

                <!-- APPS SCREEN IMAGES -->
                <div class="item">
                    <a href="images/screens/iPhone04.png" rel="prettyPhoto[pp_gal]"><img src="images/iPhone04.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="images/screens/iPhone05.png" rel="prettyPhoto[pp_gal]"><img src="images/iPhone05.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="images/screens/iPhone06.png" rel="prettyPhoto[pp_gal]"><img src="images/iPhone06.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="images/screens/iPhone07.png" rel="prettyPhoto[pp_gal]"><img src="images/iPhone07.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="images/screens/iPhone08.png" rel="prettyPhoto[pp_gal]"><img src="images/iPhone08.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="images/screens/iPhone09.png" rel="prettyPhoto[pp_gal]"><img src="images/iPhone09.png" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- ENS APPS SCREEN -->





<!-- =========================
     Start FUN FACTS
============================== -->


<!--<section class="fun_facts parallax">-->
    <!--<div class="section_overlay">-->
        <!--<div class="container wow bounceInLeft" data-wow-duration="1s">-->
            <!--<div class="row text-center">-->
                <!--<div class="col-md-3">-->
                    <!--<div class="single_fun_facts">-->
                        <!--<i class="pe-7s-cloud-download"></i>-->
                        <!--<h2><span  class="counter_num">699</span> <span>+</span></h2>-->
                        <!--<p>Downloads</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<div class="single_fun_facts">-->
                        <!--<i class="pe-7s-look"></i>-->
                        <!--<h2><span  class="counter_num">1999</span> <span>+</span></h2>-->
                        <!--<p>Likes</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<div class="single_fun_facts">-->
                        <!--<i class="pe-7s-comment"></i>-->
                        <!--<h2><span  class="counter_num">199</span> <span>+</span></h2>-->
                        <!--<p>Feedbacks</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<div class="single_fun_facts">-->
                        <!--<i class="pe-7s-cup"></i>-->
                        <!--<h2><span  class="counter_num">10</span> <span>+</span></h2>-->
                        <!--<p>Awards</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<!-- END FUN FACTS -->




<!-- =========================
     START DOWNLOAD NOW
============================== -->
<section class="download page" id="DOWNLOAD">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- DOWNLOAD NOW SECTION TITLE -->
                <div class="section_title">

                    <h2>Börja använda Track it nu!</h2>
                    <p>För att förenkla för dig som användare har vi valt att sköta all inloggning via facebook. Detta betyder inte att
                        vi på något sätt kan posta något eller på nått sätt interagera med din facebook, det betyder bara att istället för
                        att du skall göra ett nytt konto med ett nytt lösenord så använder du ditt befintliga Facebook konto.
                        Har du inget facebook konto rekommenderar vi dig att skaffa det, du behöver inte använda facebook i sig, men många hemsidor använder sig idag av facebooks
                        inloggningssystem, vilket betyder att du kan använda ett konto till mycket!
                        Allt du behöver göra för att komma igång med track it är att trycka på logga in nedan.
                        Gillar du appen så rekommenderar jag dig även att trycka på trycka på "spara till hemskärm" som spara ett bokmärke på din hemskärm, som tar dig direkt
                        till ditt konto, men glöm inte att kika in här då och då då vi kommer presentera mycket spännande nyheter och kommande funktionalitet löpande här!




                    <p>Tryck på ikonen nedan för att logga in!</p>
                    <div id="logginFacebook" class="loginIndex">
                        <a  href="http://localhost:3000/auth/facebook" role="button"> <img src="./images/lib/icons/facebook.png" class="indexFbIcon"></a>
                        <i class="fa fa-sign-in fa" aria-hidden="true"></i>
                    </div>






                    <!--     <a class="btn btn-primary btn-action" href="http://localhost:3000/auth/facebook" role="button">Spara till hemskärm</a>

                       END DOWNLOAD NOW SECTION TITLE -->
            </div>
        </div>
    </div>

<!--    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">
                    <img src="images/download_screen.png" alt="">
                </div>
            </div>
        </div>
    </div>-->
<!--
    <div class="available_store">
        <div class="container  wow bounceInRight" data-wow-duration="1s">
            <div class="col-md-6">
                <div class="available_title">
                    <h2>Available on</h2>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>

            &lt;!&ndash; DOWNLOADABLE STORE &ndash;&gt;
            <div class="col-md-6">
                <div class="row">
                    <a href="">
                        <div class="col-md-4 no_padding">
                            <div class="single_store">
                                <i class="fa fa-apple"></i>
                                <div class="store_inner">
                                    <h2>iOS</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-4 no_padding">
                        <a href="">
                            <div class="single_store">
                                <i class="fa fa-android"></i>
                                <div class="store_inner">
                                    <h2>ANDROID</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 no_padding">
                        <a href="">
                            <div class="single_store last">
                                <i class="fa fa-windows"></i>
                                <div class="store_inner">
                                    <h2>WINDOWS</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            &lt;!&ndash; END DOWNLOADABLE STORE &ndash;&gt;
        </div>
    </div>-->
</section>
<!-- END DOWNLOAD -->

<!-- =========================
     START CONTCT FORM AREA
============================== -->
<section class="contact page" id="CONTACT">
    <div class="section_overlay">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 wow bounceIn">
                <!-- Start Contact Section Title-->
                <div class="section_title">
                    <h2>Kontakta oss</h2>
                    <p>Vill du komma i kontakt med oss på Track it gör du det enklast genom formuläret nedan</p>
                </div>
            </div>
        </div>

        <div class="contact_form wow bounceIn">
            <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                <div class="form_error text-center">
                    <div class="name_error hide error">Skriv in ditt namn</div>
                    <div class="email_error hide error">Skriv in din mailadress</div>
                    <div class="email_val_error hide error">Du har skrivit in en ogiltig email addres</div>
                    <div class="message_error hide error">Du har inte skrivit in något meddelande</div>
                </div>
                <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->

                <!-- CONTACT FORM starts here, Go to contact.php and add your email ID, thats it.-->
                <form role="form" action="bent/contact.php">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="name" placeholder="Namn">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                            <input type="text" class="form-control" id="subject" placeholder="Title">
                        </div>


                        <div class="col-md-8">
                            <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Meddelande..."></textarea>
                            <button type="button" class="btn btn-default submit-btn form_submit">SEND MESSAGE</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM -->
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceInLeft">
                    <div class="social_icons">
                        <ul>
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-behance"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-youtube-play"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTACT -->

<!-- =========================
     Start Subscription Form
============================== -->



<section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <div class="section_overlay wow lightSpeedIn">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <!-- Start Subscribe Section Title -->
                    <div class="section_title">
                        <h2>Prenumera på vårat nyhetsbrev</h2>
                        <p>Om du vill få mail om kommande updateringar och liknande registera dig till vårat nyhetsbrev nedan. </p>
                    </div>
                    <!-- End Subscribe Section Title -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row  wow lightSpeedIn">
                <div class="col-md-6 col-md-offset-3">
                    <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                    <div class="subscription-success"></div>
                    <div class="subscription-error"></div>
                    <!-- Check this topic on how to add email subscription list, http://kb.mailchimp.com/lists/signup-forms/host-your-own-signup-forms -->
                    <form id="mc-form" action="https://designscrazed.us8.list-manage.com/subscribe/post" method="POST" class="subscribe_form">
                        <input type="hidden" name="u" value="6908378c60c82103f3d7e8f1c">
                        <input type="hidden" name="id" value="8c5074025d">
                        <div class="form-group">
                            <!-- EMAIL INPUT BOX -->
                            <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" class="required email form-control" id="mce-EMAIL" placeholder="Skriv in din mailadress" value="" >
                        </div>
                        <!-- SUBSCRIBE BUTTON -->
                        <button type="submit" class="btn btn-default subs-btn">Skicka</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- END SUBSCRIPBE FORM -->


<!-- =========================
     FOOTER
============================== -->

<section class="copyright">
    <h2></h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="copy_right_text">
                    <!-- COPYRIGHT TEXT -->
                    <p>Copyright &copy; 2017. All Rights Reserved.</p>
                    <p>A theme by <a href="https://dcrazed.com/">Dcrazed</a></p>
                </div>

            </div>

            <div class="col-md-6">
                <div class="scroll_top">
                    <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FOOTER -->


<!-- =========================
     SCRIPTS
============================== -->


<script src="bent/jquery.min.js"></script>
<script src="bent/bootstrap.min.js"></script>
<script src="bent/owl.carousel.js"></script>
<script src="bent/jquery.fitvids.js"></script>
<script src="bent/smoothscroll.js"></script>
<script src="bent/jquery.parallax-1.1.3.js"></script>
<script src="bent/jquery.prettyPhoto.js"></script>
<script src="bent/jquery.ajaxchimp.min.js"></script>
<script src="bent/jquery.ajaxchimp.langs.js"></script>
<script src="bent/wow.min.js"></script>
<script src="bent/waypoints.min.js"></script>
<script src="bent/jquery.counterup.min.js"></script>
<script src="bent/script.js"></script>


</body>
</html>