
<button class="settingsBtn" id="redUserCrittsBtn"> Redigar bedömningskriterier för ryttaren<img src="./images/lib/icons/arrows.png" class="btnArrow" > </button>
<div id="redUserCrittssPanel" class="hidden">

</div>
<div id="newCrittContainer"></div>

<button class="settingsBtn" id="redHorseCritts">Redigar  häst kriterium <img src="./images/lib/icons/arrows.png" class="btnArrow"> </button>
<div id="redHorseCrittsPanel" class="hidden">

</div>




<button class="settingsBtn" id="editTypesOfTranings">Redigera träningstyper <img src="./images/lib/icons/arrows.png" class="btnArrow"> </button>

<div id="editTypesOfTraningPanel" class="hidden">

</div>


<button class="settingsBtn" id="redPacklist">Redigera tävlingspacklistor <img src="./images/lib/icons/arrows.png" class="btnArrow"> </button>
<div id="redPacklistPanel" class="hidden">Här kommer du senare kunna lägga till packlistor för tävling!<br></div>




<button class="settingsBtn" id="banskiss">banskisseR<img src="./images/lib/icons/arrows.png" class="btnArrow"> </button>
<div id="banskissPanel" class="">
    <div id="ridingArena" class="draggable">
        <div id="fenceContainer">

            <img src="../../images/lib/icons/edit.png" class="draggable">
            <img src="../../images/lib/icons/help.png" class="draggable">

        </div>
    </div>
</div>


