.oneToFive {
    text-align: center;
    margin-top: 45px;
    height: 75px;

}

.oneToFive p {

    margin-left: 5px;
    display: inline;

}

.oneToFive input[type="radio"] {

    margin:  11px;
    border: 0px;

    height: 2em;
    display: inline-block;
}

#addTraningForm {




}