#addHorse{

  padding-top: 25px;
  font-size: 1.5em;
  margin: 10px;

.addCrit {
  width: 100%;
  border-radius: 0;
  margin: 0;
  padding: 0.8em;
}

}

#critts{

  padding-left: 0;
  padding-right: 0;
  width: 100%;
}



.ageGrp .typeGrp .nrOfCrittsGrp .addCritt {
  margin-bottom: 2em;
}

.chooseImg {
  padding: 20px;
}

.iconImg {
  height: 100px;
  width: 100px;
  margin: 10px;
  padding: 10px;
}



