<div class="addToUserModalConatiner">

    <div class="addToUserModal">
<form id="addToUser">
    <div class="addToUserModalHeader">
        <img src="./images/lib/icons/delete32.png" class="smallDeleteIcon" id="closeModal">
<span class="addToUserTitle"> {{this.title}} </span>

    </div>

    <input type="text" class="addToUserText" id="objectoToAdd" name="newCritt" placeholder="{{this.placeholder}}">


    <textarea id="objectDesc" name="newToUserDesc" placeholder="{{this.secondPlaceholder}}">
    </textarea>


    <button type="submit" id="addToUserBtn" class="addToUser"> <span class="addToUserText">Spara</span> <img src="./images/lib/icons/add32.png" class="addIconSmall" id="addIconTypeOfTraning"> </button>

</form>

    </div>

</div>

