
<div id="ridingArena" class="draggable">
<div id="fenceContainer">

<img src="../../images/lib/icons/edit.png" class="draggable">
<img src="../../images/lib/icons/help.png" class="draggable">

</div>
</div>