<title> {{title}} </title>

<div class="chooseIcon">
    <ul id="light-slider">
        {{#each icons}}
            <li> <img class="iconImg img-circle" src="{{this}}" id="{{this}}">  </li>

        {{/each}}
    </ul>




</div>



