<form id="addSlefCritt">
<input type="text" class="settingsInput" id="newCritt" name="newCritt" placeholder="Skriv in ditt kriterium här">
<button type="button" class="btn" id="addSelfCrittBtn"><img src="./images/lib/icons/add.png"> </button>
<input type="text" class="settingsInput" id="newCrittDesc" name="newCrittDesc" placeholder="Skriv in din beskrivning av ditt kriterium här">

</form>