
    <div class="crittGrp">
        <label for="critts">Bedömningskriterie: </label>
        <select class="critts"   name="addedCritt" id="crittAdded">
            <option selected> {{this.newCritt}} </option>
            {{#each this.options}}
                <option>{{this}}</option>
            {{/each}}
        </select>
    </div>


